################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/algos
/algos/bin/Debug/netcoreapp3.1
/algos/obj
